# Ignore environment override
.env
.envrc

# Vim swap files
*.swp
*.swo
*~

.~lock.*#

# Local .terraform directories
**/.terraform/*

#  Ignore variables files
*.auto.tfvars

#  Ignore override files
*.tfoverride

#  Ignore CLI configuration files
.terraformrc
terraform.rc
